/* Classe générale */
.body-nav
{
    background-color: #244c55;
}

.h1-main
{
    color: white;
    margin-top: 5px;
}

.signin-main, .index-main, .list-main, .new-main
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}


/* Header */
.navbar-brand
{
    padding-right: 20px;
}

.lien-connexion-header, .lien-deconnexion-header, .lien-list-page-header
{
    margin: 8px;
    color: rgb(189, 189, 189);
}


/* Footer */
.admin-connecte
{
    margin-top: 5px;
    color: red;
}


/* Page index.php */
.redirection-page-index
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bouton-index
{
    width: 49.1%;
    margin: 5px;
}


.bouton-page-index
{
    width: 100%;
    height: 200px;

    background-color: rgb(43, 53, 73);
}

.bouton-lien_list-index
{
    width: 100%;
    height: 50px;
    
    background-color: rgb(43, 53, 73);
}

.lien-bouton-index
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}


/* Page signin.php */
.error-signin
{
    color: red;
    text-align: center;
}

.login-signin, .password-signin
{
    display: flex;
    justify-content: center;
    margin-left: -110px;
    align-items: center;
    margin-bottom: 10px;
}

.labelLogin, .labelPassword
{
    width: 100px;
    margin-right: 10px;
}


/* Page page.php */



/* Page list.php */
.div-new-page-list
{
    display: flex;
    justify-content: flex-end;
}

.button-new-page-list
{
    width: 25%;
    height: 30px;
    
    background-color: rgb(43, 53, 73);
    margin-top: 10px;
    margin-bottom: 10px;
}

.lien-new-page-list, .lien-edit-list
{
    color: white;
    text-decoration: none;
}


.conteneur-info-pages-list
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(43, 53, 73);
}

.selection-page-list
{
    border: 1px solid rgb(43, 53, 73);
    display: flex;
    flex-direction: column;
}

.titre-action-page-list
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(43, 53, 73);
}

.h2-titre-list, .h2-action-list
{
    color: white;
}

.paragraphe-titre-page
{
    font-size: larger;
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
}

.titre-page-list, .flex-action-list
{
    display: flex;
    align-items: center;
}

.action-page-edit-list, .action-page-delete-list
{
    margin-right: 10px;
}

.bouton-edit-list, .bouton-delete-list
{
    width: 100%;
    height: 30px;
    
    background-color: rgb(43, 53, 73);
}





