/* Classe générale */
.body-nav
{
    background-color: #244c55;
}

.h1-main
{
    color: white;
}

.signin-main, .index-main
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}


/* Header */
.navbar-brand
{
    padding-right: 20px;
}


/* Footer */
.admin-connecte
{
    margin-top: 10px;
    color: red;
}


/* Page index.php */
.redirection-page-index
{
    display: flex;
}

.bouton-connexion-index
{
    width: 600px;
    height: 200px;

    background-color: rgb(43, 53, 73);
}

.lien-bouton-index
{
    color: white;
    text-decoration: none;
}


/* Page signin.php */
.error-signin
{
    color: red;
    text-align: center;
}

.login-signin, .password-signin
{
    display: flex;
    justify-content: center;
    margin-left: -110px;
    align-items: center;
    margin-bottom: 10px;
}

.labelLogin, .labelPassword
{
    width: 100px;
    margin-right: 10px;
}


/* Page list.php */




